/*inicia diseño del menu */
.nav {
    display: flex;
    justify-content: center;
    background-color: #2aab62;
    padding: 10px;
}
.acciones button {
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease all;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.acciones button:first-child {
    background-color: #008000;
    color: #ffffff;
}

.acciones button:first-child:hover {
    background-color: #006400;
    transform: scale(1.05);
}

.acciones button:last-child {
    background-color: #ffffff;
    color: #008000;
    border: 2px solid #008000;
}

.acciones button:last-child:hover {
    background-color: #e6ffe6;
    transform: scale(1.05);
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu a {
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.nav-link {
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    color: #F1B24A !important;
}
header {
    position: relative;
}

header img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 250px;
    display: block;
}
/* Fin diseño del menu  */
/* inicia diseño de la seccion pasjeros*/